{% extends "layout.html" %}
{% block title %}StudentConductTracker{% endblock %}
{% block page %}View Reviews{% endblock %}

{{ super() }}

{% block content %}
    
   <div class="row">
      <section class="col s12 m6">
         <form style="display:flex; margin-top:40%" action="/studentReviews" method="GET">
            <div class="input-field" style="margin-top: 30px;  width:50%">
               <input placeholder="Student ID" name="studentID" type="text" required="">
           </div>
           <button class="btn-large" type="submit" style="margin-top:20px; margin-left:10px"> Search </button>
         </form>
      </section>
      <section class="col s12 m6">
         <div class="card" style="margin-top: 10px; background-color: #f1f1f1; height:480px; overflow-y: scroll; overflow-wrap: break-word;" >
         <h5 style="text-align: center;">Student Reviews</h5>
         {% if reviews %}
         <p style="margin-top: 30px;">Student: {{student.firstname}} {{student.lastname}}, {{student.id}} </p>
            {% for review in reviews %}
               <div style="margin-top:10%; margin-left: 20px;">
                  <p>{{review.text}}</p>
                  <p>by {{review.user.firstname}} {{review.user.lastname}}</p>
               </div>
               <hr>
            {% endfor %}
         {% endif %}
            </div>
      </section>
   </div>
{% endblock %}