{% extends "layout.html" %}
{% block title %}StudentConductTracker{% endblock %}
{% block page %}Add Student{% endblock %}

{{ super() }}

{% block content %}
    
    <form style="margin-top: 10%; margin-left: 30%;" action="/addStudent" method="POST"> 
        <div class="input-field" style=" width:50%">
            <input placeholder="First Name" name="firstname" type="text" required="">
        </div>
        <div class="input-field" style="margin-top: 30px; width:50%">
            <input placeholder="Last Name" name="lastname" type="text" required="">
        </div>
        <div class="input-field" style="margin-top: 30px;  width:50%">
            <input placeholder="Major" name="major" type="text" required="">
        </div>
        <button class="btn-large" type="submit" style="margin-top: 20px; margin-left:15%;"> Submit </button>
    </form>

{% endblock %}